doctype html 
html 
    head
        link(rel = "stylesheet" href = "css/general.css")
        link(rel = "stylesheet" href = "css/social.css")
        link(rel = "stylesheet" href = "css/nav.css")
        link(rel = "stylesheet" href = "css/profile.css")
        link(rel="icon" type="image/x-icon" href="../thumbnails/ryu-logo.png")
        link(rel = "stylesheet" href = "css/me.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet")
        title Ryushen Tan  
    body
        div(class = "flex-box")
            div(class = "left-section")
                div(class = "NAV-bar")
                    a(href = "/Website/html/start.html")
                        div(class = "ryulogo")
                            img(src = "../thumbnails/home.gif" alt = "logo image")
                    a(href = "/Website/html/home.html")
                        button(class = "nav") Home 
                    a(href = "/Website/html/about.html")
                        button(class = "nav") About Me
                    a(href = "/Website/html/projects.html")
                        button(class = "nav") Projects  

            div(class = "middle-section")
                div(class="left-square")
                img(class = "profile-picture" src = "../thumbnails/Website-Sample.jpg" alt = "Picture of myself")
                div(class="right-square")
                div(class = "socials-grid")
                    div
                        a(href = "https://tracker.gg/valorant/profile/riot/ryupoop%23noot/overview?playlist=competitive")
                            img(class = "logo" src = "../thumbnails/valorant-icon.png" alt = "valorant logo")
                    div
                        a(href= "https://open.spotify.com/user/dumachew?si=7ff077df594c4b3b")
                            img(class = "logo" src = "../thumbnails/spotify-icon.png" alt = "Spotify logo")
                    div
                        a(href = "mailto: ryushen@gmail.com")
                            img(class = "logo" src = "../thumbnails/email-icon.png" alt = "email logo")
                    div
                        a(href = "https://github.com/ryushen-tan")
                            img(class = "logo" src = "../thumbnails/github-icon.png" alt = "github logo")
                    div
                        a(href= "https://www.linkedin.com/in/ryushen-tan-06186b262/")
                            img(class = "logo" src = "../thumbnails/linkedin-icon.png" alt = "linkedin logo")
                
            div(class = "right-section")
                div(class = "first-name")
                    p <strong>Sup!</strong> I'm Ryushen
                div(class = "Introduction")
                    p Computer Science Student @ Carleton University
                h2 Things I love &#60;3
                ul(class = "love")
                    li Coding new projects, especially ones that I can learn from
                    li Playing Sports, like Volleyball and Badminton
                    li Building meaningful connections with others
                    li Anything tech related