doctype html 
html 
    head 
    title Project Ryu 
    link(rel = "stylesheet" href = "css/general.css")
    link(rel = "stylesheet" href = "css/main.css")
    a(href = "/Website/html/home.html")
        body
            a(class = "link" href = "/html/home.html")
                div(class = "cont")
                    div(class = "container-p")
                        div(id = "shape" class = "ring")
                            div(class = "face one") P 
                            div(class = "face two") R   
                            div(class = "face three") O  
                            div(class = "face four")  J 
                            div(class = "face five") E 
                            div(class = "face six") C 
                            div(class = "face seven") T     
                            div(class = "face eight")    
                            div(class = "face nine") R 
                            div(class = "face ten") Y
                            div(class = "face eleven")  U  
                            div(class = "face twelve") 
                script(src = "css/script.js")
                p 	Click Anywhere to Begin