.logo{
    width: 40px;
    border-radius: 4px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.logo:hover{
    opacity: 0.8;
}
.logo:active{
    opacity: 0.5;
}
.socials-grid{
    justify-content: center;
    display: grid;
    top: 0;
    grid-template-columns: 45px 45px 45px 45px 45px;
}